<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js"></script>
<script type="text/javascript">
  function get_location() {
    if (Modernizr.geolocation) {
      navigator.geolocation.getCurrentPosition(redirect_to_url);
    } else {
      console.log("No geolocation support");
    }
  }

  function redirect_to_url(position) {
    var redirect_to_url = '<%= @redirect_to_url %>';
    redirect_to_url += "&latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude;
    window.location.href = redirect_to_url;
  }

  $(document).ready(function() {
    get_location();
  });
</script>
</head>
<body>
</body>
</html>
